@model KAYSEL.Models.Record

@{
    ViewBag.Title = "Edit";
}

<h2 class="mb-4">Edit Record</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4>Record Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ID)

        <div class="form-group row">
            @Html.LabelFor(model => model.Revenues, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Revenues, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Revenues, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.AuthorityID, "Authority", new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownList("AuthorityID", null, "Select Authority", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthorityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.DateOfRegistration, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfRegistration, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DateOfRegistration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                <div class="form-check">
                    @Html.EditorFor(model => model.IsDeleted, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.IsDeleted, new { @class = "form-check-label" })
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.GuestID, "Guest", new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownList("GuestID", null, "Select Guest", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GuestID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.RoomID, "Room No", new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownList("RoomID", null, "Select Room No", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<div class="container mt-4">
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
</div>

<!-- Ensure jQuery and Bootstrap scripts are included -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
